<header class="navbar bg-base-300 h-16">
  <nav class="flex justify-between w-full">
    <a routerLink="/">SpaceCorps Open Beta 2025</a>
    @if ((authState$ | async)?.isLoggedIn) {
      <app-main-menu></app-main-menu>
    }
    <ul class="flex space-x-4">
      @if ((authState$ | async)?.isLoggedIn) {
        <a class="btn btn-neutral bg-base-200" routerLink="/profile">
          Welcome, {{ (authState$ | async)?.username }}!
        </a>
        <a class="btn btn-neutral bg-base-200" routerLink="/" (click)="logOut()">
          Log Out
        </a>
      } @else {
        <a class="btn btn-neutral bg-base-200" routerLink="/login">
          Log In / Sign Up
        </a>
      }
    </ul>

  </nav>
</header>
