<section class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
  <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
    Open All Shop Categories
  </label>

  <section class="drawer-content flex flex-col gap-4">

  </section>

  <aside class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4 gap-4 overflow-y-auto">
      <li class="menu-title"><p>Shop Categories</p></li>
      <li><a>Ships</a></li>
      <li><a>Lasers</a></li>
      <li><a>Laser Amps</a></li>
      <li><a>Shields</a></li>
      <li><a>Shield Cells</a></li>
      <li><a>Engines</a></li>
      <li><a>Engine Thrusters</a></li>
      <li><a>Laser Ammo</a></li>
    </ul>
  </aside>

</section>
