<div class="flex flex-wrap p-4 gap-4">

  <!--  Display Item Categories-->

  <div>
    <ul class="menu bg-base-200 rounded-box w-48 items-center">
      <li class="menu-title">Item Category</li>
      <li *ngFor="let item of itemCategories" class="menu-item">
        <a
          (click)="selectCategory(item)"
          [class]="item === selectedCategory ? 'active' : ''"
          class="menu-link"
        >
          {{ item }}
        </a>
      </li>
    </ul>
  </div>

  <!--  Create new Item in selected category-->

  <div *ngIf="selectedCategory">
    <section>
      <div class="card bg-base-200 max-w-96">
        <div class="card-body flex flex-col gap-2 justify-center">
          <div class="flex flex-row justify-between items-center">
            <h2 class="card-title">Create New Item</h2>
            <button
              class="btn bg-base-300 btn-xs btn-square mt-4"
              (click)="fetchItems(selectedCategory);"
              title="Refresh">
              <fa-icon [icon]="faArrowsRotate"></fa-icon>
            </button>
          </div>
          <form (ngSubmit)="createNewItem()">
            <div *ngFor="let field of getFieldsForCategory(selectedCategory); trackBy: trackByKey">
              <div *ngIf="field.key !== 'id'" class="flex flex-col gap-2">
                <label>{{ field.label }}</label>
                <input [(ngModel)]="newItem![field.key]" [name]="field.key" class="input input-bordered"/>
              </div>
            </div>
            <button type="submit" class="btn bg-base-300 mt-4">Add</button>
          </form>
        </div>
      </div>
    </section>
  </div>

  <!--  Display Items in selected category-->

  <div *ngIf="selectedCategory">
    <section>
      <h2>{{ selectedCategory }} Items</h2>
      <div class="card bg-neutral">
        <div class="card-body">
          <ul class="flex flex-wrap gap-4">
            <li *ngFor="let item of ItemEntries" class="card bg-base-200 p-4 max-w-96">
              <div class="flex flex-col gap-2">
                <div *ngFor="let field of getFieldsForCategory(selectedCategory); trackBy: trackByKey">
                  <div class="flex flex-col gap-2 min-w-60">
                    <label>{{ field.label }}</label>
                    <span
                      class="input input-bordered read-only:cursor-not-allowed text-center flex items-center justify-center">
                      {{ item[field.key] }}
                    </span>
                  </div>
                </div>
                <span class="flex flex-row justify-between items-center">
                  <button class="btn btn-error btn-xs btn-square" (click)="deleteItem(item)">X</button>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
