<div class="p-4 flex flex-auto gap-4 justify-around">
  <section class="card bg-base-100 shadow-xl max-w-screen-2xl">
    <div class="card-body">
      <h2 class="card-title">
        Your Inventory
      </h2>
      <app-inventory-active-ship
        [activeShipItemName]="inventory!.activeShipName"
      ></app-inventory-active-ship>
      <h2 class="card-title">
        All Items
      </h2>
      <app-inventory-all-items
        [items]="inventory!.items">
      </app-inventory-all-items>
    </div>
  </section>
</div>
