<div class="p-4 flex flex-auto gap-4 justify-around">
  <section class="card bg-base-100 shadow-xl max-w-screen-2xl">
    <div class="card-body">
      <h2 class="card-title">
        Your Inventory
      </h2>
      <div class="flex flex-row gap-4">
        <app-inventory-active-ship [activeShipItemName]="inventory?.activeShipName"></app-inventory-active-ship>
        <app-inventory-selected-item [selectedItem]="selectedItem"></app-inventory-selected-item>
      </div>
      <h2 class="card-title">
        All Items
      </h2>
      <app-inventory-all-items [items]="inventory?.items" (itemSelected)="handleItemSelection($event)">
      </app-inventory-all-items>
    </div>
  </section>
</div>