<form
  [formGroup]="loginForm"
  (ngSubmit)="handleLogin()"
  class="
    flex flex-col gap-4 align-middle
    justify-between max-w-xs mx-auto
    mt-4
  "
>
  <input
    type="text"
    placeholder="Enter your email..."
    formControlName="email"
    class="input input-bordered"
  >
  <input
    type="password"
    placeholder="Enter your password..."
    formControlName="password"
    class="input input-bordered">

  <span
    class="flex flex-row justify-around"
  >
      <button
        class="btn max-w-32"
        [ngClass]="{
    'btn-disabled':
      !loginForm.get('email')?.value ||
      !loginForm.get('password')?.value,
    }"
      >
        Login
      </button>

      <a
        class="btn max-w-32"
        (click)="toggleView()"
      >
        To Register
      </a>
  </span>

  <button
    type="button"
    class="btn max-w-32"
    (click)="loginAsPredefinedAccount()"
  >
    Login as Admin
  </button>

</form>
