<ul class="flex flex-wrap gap-4">
  @for (category of categorizedItems.keys(); track category) {
    <li class="card bg-base-200 flex flex-col gap-4 card-body">
      <h3 class="card-title">{{ category }}</h3>
      <div class="grid grid-cols-4 gap-2 overflow-y-auto max-h-64">
        @for (item of categorizedItems.get(category); track item.id) {
          <div class="card bg-base-100 hover:cursor-grab"
               (click)="itemSelected.emit(item)"
               draggable="true">
            <div class="card-body">
              <div class="card-title">
                {{ item.name }}
              </div>
            </div>
          </div>
        }
      </div>
    </li>
  }
</ul>
